<div class="container-fluid">
    <div class="row products-admin ratio_asos">
        <div class="col-xl-3 col-sm-6" *ngFor="let product of product_list">
            <div class="card">
                <div class="card-body product-box">
                    <div class="img-wrapper">
                        <div class="lable-block"><span class="lable3" *ngIf="product.tag == 'new'">new</span> <span
                                class="lable4" *ngIf="product.sale == 'on sale'">on sale</span></div>
                        <div class="front">
                            <a href="javascript:void(0)"><img [src]="[product.img]"
                                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            <div class="product-hover">
                                <ul>
                                    <li>
                                        <button class="btn" type="button" data-original-title="Edit" title="Edit" (click)="editProduct(product.id)"><i
                                                class="icon-pencil-alt"></i></button>
                                    </li>
                                    <li>
                                        <button class="btn" type="button" data-original-title="Open" title="Open" (click)="openProductDetail(product.id)"><i
                                                class="icon-new-window" ></i></button>
                                    </li>
                                    <li>
                                        <button class="btn" type="button" data-toggle="modal"
                                            data-target="#exampleModalCenter" data-original-title="" title="Edit"><i
                                                class="icon-trash"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                        <a href="javascript:void(0)">
                            <h6>{{product.name}}</h6>
                        </a>
                        <h4>{{product.discount}} <del>{{product.price}}$</del></h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-space-beetwen p-2">
        <ngb-pagination
           [collectionSize]="totalElements" [(page)]='page' [pageSize]="pageSize"  (pageChange)="onPageChange($event)"  (pageSizeChange)="onPageChange($event)">
           </ngb-pagination>
           <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"  (ngModelChange)="onPageSizeChange()">
            <option [value]="10" [selected] ="true" [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="15">15 items per page</option>
          </select>
     </div> 
</div>
