<app-breadcrumb [title]="'WISHLIST'" [breadcrumb]="'WISHLIST'"></app-breadcrumb>
<!--section start-->
<section class="wishlist-section section-b-space">
  <div class="container">
    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!products.length'>
      <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Empty cart">
      <h3 class="mt-4"><b>{{"WISHLIST_EMPTY" | translate}}</b></h3>
      <h4>{{"WISHLIST_EMPTY_DESCRIPTION" | translate}}</h4>
    </div>
    <div class="row" *ngIf='products.length'>
      <div class="col-sm-12">
        <table class="table cart-table table-responsive-xs">
          <thead>
            <tr class="table-head">
              <th scope="col">{{'IMAGE' | translate}}</th>
              <th scope="col">{{"NAME" | translate}}</th>
              <th scope="col">{{"PRICE" | translate}}</th>
              <th scope="col">{{"AVAILABILITY" | translate}}</th>
              <th scope="col">{{"ACTION" | translate}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of products">
            <tr>
              <td>
                  <a [routerLink]="['/shop/product/', product.id]">
                    <img [src]="product.images[0].src" [alt]="product.images[0].alt">
                  </a>
              </td>
              <td>
                  <a [routerLink]="['/shop/product/', product.id]">{{ product.title | titlecase }}</a>
              </td>
              <td>
                  <h2>
                    {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                  </h2>
              </td>
              <td>
                   <p>{{ (product.quantity > 0 ? 'IN_STOCK' : 'OUT_OF_STOCK' ) | translate}}</p>
              </td>
              <td>
                  <a href="javascript:void(0)" (click)="removeItem(product)" class="icon me-3">
                    <i class="ti-close"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="addToCart(product)" class="cart">
                    <i class="ti-shopping-cart"></i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row wishlist-buttons" *ngIf='products.length'>
      <div class="col-12">
        <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">{{"CONTINUE_SHOPPING" | translate}}</a>
        <a [routerLink]="['/shop/checkout']" class="btn btn-solid">{{"CHECKOUT" | translate}}</a>
      </div>
    </div>
  </div>
</section>
<!--section end-->